<mat-sidenav-container>
  <mat-sidenav-content>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
  </mat-sidenav-content>
</mat-sidenav-container>
