<div fxLayout="row" fxLayoutAlign="center center" class="welcome-header">
  <div fxFlex="10" fxFlex.gt-md="20"></div>
  <div class="welcome-header-text">
    <h1>支付技术服务</h1>
    <h2>专注于微信支付及支付宝接入服务</h2>
  </div>
  <div fxFlex></div>
  <div>
    <mat-card>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="用户名">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="密码">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary">登录</button>
        <button mat-raised-button>注册</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="10" fxFlex.gt-md="20"></div>
</div>

<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row" class="featurette" style="margin-top: 60px;">
    <div fxFlex fxLayoutAlign="center center" class="featurette-image" style="margin-right: 40px;">
      <img alt="500x500"
           src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1604f7bae9f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1604f7bae9f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
           data-holder-rendered="true" style="height: 500px; width: 500px;">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center">
      <h2 style="font-size: 50px;">线下支付</h2>
      <p>帮助企业或个体工商户接入微信支付或支付宝收款，简单快捷</p>
    </div>
  </div>
  <hr class="featurette-divider"/>
  <div fxLayout="row-reverse"  class="featurette">
    <div fxFlex fxLayoutAlign="center center" class="featurette-image" style="margin-left: 40px;">
      <img alt="500x500"
           src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1604f7bae9f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1604f7bae9f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
           data-holder-rendered="true" style="height: 500px; width: 500px;">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center">
      <h2 style="font-size: 50px;">线上支付</h2>
      <p>提供手机APP支付、网页支付以及微信公众号支付的接入服务</p>
    </div>
  </div>
  <hr class="featurette-divider"/>
  <div fxLayout="row" class="featurette">
    <div fxFlex fxLayoutAlign="center center" class="featurette-image" style="margin-right: 40px;">
      <img alt="500x500"
           src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1604f7bae9f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1604f7bae9f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
           data-holder-rendered="true" style="height: 500px; width: 500px;">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center">
      <h2 style="font-size: 50px;">统计数据</h2>
      <p>您可以随时掌握对账单信息、月销售额统计、图表分析等</p>
    </div>
  </div>
  <hr class="featurette-divider"/>
  <div fxLayout="row-reverse" class="featurette">
    <div fxFlex fxLayoutAlign="center center" class="featurette-image" style="margin-left: 40px;">
      <img alt="500x500"
           src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1604f7bae9f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1604f7bae9f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
           data-holder-rendered="true" style="height: 500px; width: 500px;">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center">
      <h2 style="font-size: 50px;">技术服务</h2>
      <p>我们提供开发、技术咨询服务，如微信公众号开发、网站建设等整套解决方案的服务</p>
    </div>
  </div>
</div>
