<div fxLayout="row" fxLayoutAlign="center center" class="welcome-header">
  <div fxFlex="10" fxFlex.gt-md="20"></div>
  <div class="welcome-header-text">
    <h1>支付技术服务</h1>
    <h2>专注于微信支付及支付宝接入服务</h2>
  </div>
  <div fxFlex></div>
  <div>
    <mat-card>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="用户名">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="密码">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary">登录</button>
        <button mat-raised-button>注册</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="10" fxFlex.gt-md="20"></div>
</div>

<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row" class="featurette" style="margin-top: 60px;">
    <div fxFlex fxLayout="column" fxLayoutAlign="start">
      <h2 class="featurette-title">线下支付</h2>
      <p>帮助企业或个体工商户接入微信支付或支付宝收款，简单快捷</p>
    </div>
    <hr class="featurette-divider-vertical"/>
    <div fxFlex fxLayout="column" fxLayoutAlign="start">
      <h2 class="featurette-title">线上支付</h2>
      <p>提供手机APP、网页以及微信公众号等支付的接入服务及技术支持</p>
    </div>
    <hr class="featurette-divider-vertical"/>
    <div fxFlex fxLayout="column" fxLayoutAlign="start">
      <h2 class="featurette-title">统计数据</h2>
      <p>帮助企业生成对账单、月销售额统计等财务信息，掌握用户大数据，生成图表</p>
    </div>
    <hr class="featurette-divider-vertical"/>
    <div fxFlex fxLayout="column" fxLayoutAlign="start">
      <h2 class="featurette-title">技术服务</h2>
      <p>提供开发技术支持及咨询服务，为企业或个人打造整套解决方案</p>
    </div>
  </div>

</div>
