.uutic-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  min-height: 64px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.logo {
  padding: 0px 16px;
}

.logo a {
  color: inherit;
  text-decoration: none;
}
