<mat-toolbar color="primary" class="uutic-toolbar">
  <span class="logo">
    <a routerLink="/">柚柚网络</a>
  </span>
  <button mat-button routerLink="/business">商业合作</button>
  <button mat-button (click)="test()">联系我们</button>

  <div fxFlex></div>

  <button mat-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>account_circle</mat-icon>
    <span>用户</span>
  </button>
</mat-toolbar>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">一级菜单1</button>
  <button mat-menu-item>一级菜单2</button>
</mat-menu>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>二级菜单1</button>
  <button mat-menu-item>二级菜单2</button>
  <button mat-menu-item>二级菜单3</button>
</mat-menu>


